<html>
  <head>
    <title> <%= @title %> </title>
  </head>
  <body>
    <%= yield %>
    <p></p>
    <p>There are <%= @number_of_users %> users with a total of <%= count_interests %> interests.</p>
  </body>
</html>
